<div class="container custom-container">
  <div class="col-md-12">
    
    <h3 class="mb-3 text-center">Detalle del Usuario</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="Usuario.data.first_name" class="form-control" placeholder="first_name">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="Usuario.data.last_name" class="form-control" placeholder="last_name">
    </div>

    <div class="form-group">
      <img [src]="Usuario.data.avatar" class="img-fluid" alt="">
    </div>

    <!-- <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateEmployee()">Update Employee</button>
    </div> -->
    
  </div>
</div>