<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<!-- <div *ngFor="let usuario of Usuario.data">
  <p>{{usuario.id}} - {{usuario.first_name}} {{usuario.last_name}}</p>
<img src="{{usuario.avatar}}" alt="">
</div> -->

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Mantenimiento de Usuarios</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/usuario-create">Crear Usuario</a>
  </nav>
  <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/usuario-list">Lista Usuarios</a>
</div>

<router-outlet></router-outlet>
